* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: red;
}

.nav-bar ul{
    text-align: center;  
}

.nav-bar li{
    display: inline;
    padding: 10px 5px;
    border: solid 1px red;
    
}

